$menu-color : #143E6F;
$menu-hover-color : #195396;
$body-gray-color : #F8F9FA;
$white-color : #fff;
$primary-color : #1F5FAC;
$text-color : #495057;
$border-color:#CED4DA;
$secondary-color : #343A40;
$box-shadow : 0px 1px 2px 0px #1018280D;
$red-color-bg : #FCEAEA;
$red-color : #E03131;
$red-color-border : #F6C1C1;
$icon-color : #656E7A;
$black-color : #000;
$black-color-2: #343A40;
$blue-light-color : #E6F1FF