.switch {
	position: relative;
	display: inline-block;
	width: 28px;
    height: 16px;
  
	input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
  
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #E9ECEF;
	  transition: 0.3s;
	  border-radius: 28px;
  
	  &::before {
		position: absolute;
		content: "";
		height: 11px;
		width: 11px;
		left: 3px;
		bottom: 3px;
		background-color:#FFF;
		transition: 0.3s;
		border-radius: 50%;
	  }
	}
  
	input:checked + .slider {
	  background-color: #2570CA; // Vue green
  
	  &::before {
		transform: translateX(10px);
	  }
	}
  }
  

.switch.assigned{
	.slider {
		background-color: #2570CA; // Vue green
	
		&::before {
		  transform: translateX(10px);
		}
	  }
}

